
<html>
  <head>
    <meta name="viewport" content="width=device-with, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/body.css" type = "text/css">
    <title></title>
  </head>

  <body>
      <!--NavBar code----------------------------------------------------------------->
     <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#0c3c60">
        <a class="navbar-brand" ><img class="logo" src="/img/logonetrans2.png" weight="75" height= "50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li><a href="/">Home</a></li>
          <li><a href="#About-Us">About</a></li>
          <li><a href="#title-services">Services</a></li>
          <li><a href="ProjectsFinal">Portfolio</a></li>
          <li><a href="#title-contact">Contact</a></li>
          <li><a href="bodySpanish">Español</a></li>
        </ul>
      </div>
     </nav>
    </header>
  <!--Main Picture-------------------------------------------------------------------------------------->
    <main>
      <section class = "main-image"><!--main picture--------->
          <img src="/img/data2.jpg">
          <div class = "hero-mkt-bar">
            <h3>Creating and Analyzing with precision</h3>
            <h1>Accelerating your growth</h1><!---End main picture------>
          </div>
        </section>
  <!--About---------------------------------------------------------------------------------------------->
     <section class="about-us"><!--about-------------------------------->
       <div class = "flex">
         <div class = "foto">
           <img src ="/img/pp4.png" width="300" height="300">
         </div>
         <div class ="about">
           <h1 id="About-Us">About me</h1>
              <p>
                Being part of a Supply Chain Team, I have learned and understood how important is to work in an environment where the organization and coordination are the key components of success in the Logistic Channel. A work environment with these characteristics creates a more productive workforce which leads to a more solid and successful organization.
                <br></br>
                “If you don’t Control, you can not Manage”. Using Data Analysis can boost your productivity, improve your performance and reduce your cost, generating business growth. If you are not on the web, you have limitations to grow your business beyond. I can help you to become part of the new business model.
                <br></br>
                About my Background, I’m Industrial Engineer from “Universidad Nacional San Agustin de Arequipa” <a href="https://www.unsa.edu.pe/">UNSA </a>(Arequipa-Peru) and Bachelor in Business Administration from  <a href="https://www.hec.ca/"> HEC Montreal </a>(Montreal – Canada) <!--with a Certificate in Business Administration at <a href="https://www.esan.edu.pe/"> ESAN </a> School of Business (Lima-Peru) and Certificate in Data Analysis at <a href="https://www.mcmastercce.ca/data-analytics-program">McMaster University </a>(Toronto-Canada).--> .Also the experience acquired working in different industries and companies, gave me the necessary skills to help you to grow your business increasing your ROI.
                <br></br>
                <!--Currently I live in Hamilton – Ontario (Canada),--> If you think I can collaborate growing your business, service or other advice about, <a href="#title-contact">contact me</a>, it will be my pleasure to help you.
              </p>
              <div class ="firma">
               <img src ="/img/firma101.png" width="170" height="70">
              </div>
          </div>
        </div>
    </section><!--End about us------------------------------------------->
<!--Services----------------------------------------------------------------------------------->
<div class = "ServiceContainer">
    <section>
      <div class="title-barServices">
        <h1 id="title-services">Two ways to Analyze your data</h1>
      </div>
    </section>
    <section class = "mkt-boxes"><!--boxes---------------------->
          <div class="flex">
           <div class="box box1">
             <img class = "analysisPic" src="/img/DataAnalysis.png">
            <h2 id="Services">Data Analysis</h2>
            <p>
              How Can I help you......
              <br></br>
              <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Data Visualization:</u></span> One picture tells you more than thousand words. The perfect chart, graphs or other visual will help you to understand more your data in order to take better decisions.
              <br></br>
              <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Analytics Interpretation and Reporting:</u></span> A complete analysis and final report showing the most important information of your data.
              <br></br>
              <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Infograph:</u></span> A quickly and clearly way to present information or show a conclusion.
              <br></br>
              <!--<span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Google Analytics: </u></Span> Understanding your customer behavior through your website could give you valuable information to satisfy better them.
              <br></br>-->
              <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Platforms use: </u></span> Python, MySQL, SPSS, Power BI, MiniTab, Tableau, Excel.
              <br></br>
              I invite you to see some of my jobs clicking <a href="ProjectsFinal"><strong>HERE</strong> </a>.

            </p>
            <!--<a href="ProjectsFinal"><button>Portfolio</button></a>-->
           </div>

           <div class="box box2">
             <img class = 'webDevPic' src="/img/business.png">
             <h2> Business Analytics</h2>
            <p>
              How Can I help you......
              <br></br>
              Making Business Decision today could be a complicated process due to overwhelming amount of available data and information. The benefits of applying Business Analytics can be significant including reduced costs, better risk management, faster decisions, better productivity, enhance bottom line performance sush as ROI.
              <!--Your website is the digital face of your company or your blog. In this era, if your business or service is not on the web, you take the risk of disappear soon.  We can build a static website, where you can show your products, services, skills to potential customers around the world. We can create a Data Base on your website that will help you to make different kind of analysis of your customers.-->
              <br></br>
              We can work together to analyze your business on three dimensions:
            <br></br>
            <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Descriptive analytics:</u></span> In base of the Data available, examine past and current performance in terms of budgets,sales, revenues, productivity or cost.
            <br></br>
            <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Predicitive analytics:</u></span> Prepare Forecast by examining historical data.
            <br></br>
            <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Prescriptive analytics:</u></span> Analize the best alternative to minimize or maximize any resource.
            <br></br>
            <span style="color:#0A325F; font-size: 1.0em; font-weight: bold"><u>Platforms use:</u></span> Python, MySQL, SPSS, Power BI, Tableau, MiniTab, Excel.
            <br></br>
            I invite you to see some of my jobs clicking  <a href="ProjectsFinal#title-Web"><strong>HERE</strong> </a>.
            </p>
          <!--  <a href="ProjectsFinal"><button >Portfolio</button></a>-->

          </div>
         </div>
    </section>
  </div><!--End boxes------------------------------------------>

<!--Projects----------------------------------------------------------------------------------->
    <section>
      <div class="title-bar">
        <p id ="title-projects">Latest Projects</p>
      </div>
    </section>

    <section id="Projects"><!--Projects----------------------------------------------------->
         <div id="Projects-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
           <div class="carousel-item active">
             <h2>Analysis of Bicycles stolen in Toronto Area for the years between 2014 - 2019</h2>
             <img class="Projects-image" src="/img/infograph.png" alt="toronto">
             <em><a class = "btn btn-light btn-sm" href="/projects/DataBikes.pdf#toolbar=0" role="button"> Open</a></em>
            </div>

          <div class="carousel-item">
            <h2 class="Projects-text">The Progression of Unemployment Rate for an Immigrant in Canada</h2>
            <img class="Projects-image" src="/img/infographcanada1.png" alt="Canada">
            <em><a class = "btn btn-light btn-sm" href="/projects/progression of an immigrant.pdf#toolbar=0" role="button"> Open</a></em>
          </div>

          <div class="carousel-item">
            <h2 class="Projects-text">Finding Data that support the high car insurance cost in Toronto</h2>
            <img class="Projects-image" src="/img/carcollision.png" alt="Canada">
            <em><a class = "btn btn-light btn-sm" href="/projects/CarCollisionToronto.pdf#toolbar=0" role="button"> Open</a></em>
          </div>
         </div>

          <a class="carousel-control-prev" href="#Projects-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#Projects-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
       </section>
<!--contact----------------------------------------------------------------------------------------------------->
   <section class = "contacto">
    <section class = "contact-form">
        <section>
          <div class="title-contact">
            <p id ="title-contact">Contact</p>
            <div class ="social">
             <a href="https://linkedin.com/in/jaime-alvarado-30602582">
              <img src="/img/linkedin.png" width="30" height="30" alt="linkedin"></a>
               <a href="https://www.facebook.com/search/top/?q=jdataone">
                <img src="/img/facebook.png" width="30" height="30" alt="facebook">
            </div>
          </div>
        </section>
     <form  method="post" action="/register">
        <div class = "txtb">
         <label>Full Name : </label>
         <input type = "text" name="name"  placeholder="Enter your name" autocomplete="off" required>
        </div>

        <div class = "txtb">
          <label>Email : </label>
          <input type = "email" name="email" placeholder="Enter your email" autocomplete="off" required>
        </div>

        <div class = "txtb">
          <label>Subject : </label>
          <input type = "text" name="subject" placeholder="Subject" autocomplete="off">
        </div>

        <div class = "txtb">
          <label>Message : </label>
          <textarea name = "message"></textarea>
        </div>
        <input type="submit" class="submit" placeholder="Send Message">
      </form>

     </section>
     <div class="footer">
       <p>Jaime Alvarado © 2021</p>
     </div>
   </section>

  </main>



<!-------------------------------------------------------------------------------------------->
    <!--link to jquery minified by default-------------------------------------------------->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<!--------------------------------------------------------------------------------------->
	<!--link to JavaScript from bootstrapcdn by default-------------------------------------->
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!--------------------------------------------------------------------------------------->
  </body>

</html>
